body{
  background-color: #999999;
}

h1.title {
  text-align: center;
  font: 2em "Inconsolata", sans-serif;
}

.tbox {
  margin: auto;
  border: 3px solid black;
  width: 100%;
  background-color: #595959;
  color: #f0f0f5;
  border-radius: 20px;
}

#qbox {
  border: 3px solid black;
  width: 30%;
  height: 130px;
  background-color: #737373;
  border-radius: 20px;
}

.abox {
  display: inline-block;
  margin-left: 2%;
  border: 3px solid black;
  width: 30%;
  height: 150px;
  background-color: #737373;
  border-radius: 20px;
  text-align: center;
  font: 2em "Inconsolata", sans-serif;
}

.bbox {
  margin: auto;
  border: 3px solid black;
  width: 100%;
  height: 350px;
  background-color: #737373;
  border-radius: 20px;
}

.linet {
  display: inline-block;
  float: left;
  margin-left: 7%;
}

.qb {
  display: block;
  margin: auto;
}

button.linet {
  width: 20%;
  height: 100px;
  font: 30px "Inconsolata", sans-serif;
  border-radius: 30px;
  border-width: medium;
  border-color: #333333;
  background-color: #00b300;
}

button.linet:hover {
  background-color: #33ff33;
  border-color: #0d0d0d;
}

button.linet:active {
  color: #e6e6e6;
  background-color: #009900;
  border-color: #a6a6a6;
}

h3 {
  text-align: center;
  font: 25px "Inconsolata", sans-serif;
}

.choice {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 300px;
  margin-left: 3.8%;
  border-width: medium;
  border-color: #333333;
  background-color: #00b300;
  margin-top: 20px;
  margin-bottom: 20px;
  font: 3em "Inconsolata", sans-serif;
  border-radius: 30px;
}

.choice:hover {
  color: #1a1a1a;
  border-color: #bfbfbf;
}

.choice:active {
  color: #e6e6e6 ;
  border-color: #ffffff;
}
